body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.actions-container {
    display:flex;
    
}
.element {
    flex: 1; /* Hace que cada elemento ocupe la misma cantidad de espacio disponible */
    padding: 10px; /* Añade un poco de padding para la visualización */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto total del elemento */
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #05830a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #05830a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f3c852c9;
}
#myModal {
    display: none;
    text-align: center;
    align-items: center;

}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: max-content;
}
.close {
    color: #aaa;
    float: top;
    margin: 0% auto;
    align-items: end;
    text-align: end;
    align-content: end;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.input-edit  {  
    background-color: #f4f4f4;
    border:none;

}
.input-edit:focus {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    outline: none;
    box-shadow: none;
}